@if(answers){
<div class="answers">

@for (item of answers; track $index) {
    <label class="custom-checkbox">
        <input type="radio" 
        [name]="'options_' + id"
        [value]="item" 
        [(ngModel)]="selectedOptions"
        (change)="select_answer()"
      />
      
        {{ item.answer }}
      </label>
 

}

      <img src="assets/send.png" alt="Send" (click)="send_answar($event)" class="send-icon">    
       <label   [class]="'error row hide error_' + id"> יש לבחור אופציה אחת מהרשימה</label>
</div>}