.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media(max-width:767px){
    
    .custom-checkbox {
      padding: 5px !important; 
      width: 82%;
      height: 45px;
    }
    .robot-icon{
      width: 22% !important;
    }
    .send-icon{
      bottom: 0%;
      left: 8px;
      position: absolute;
   

    }
    .answers{
      flex-wrap: wrap;
    }
  }
  .custom-checkbox {
  padding: 8px;  word-wrap: break-word;
        border: 1px solid #000;
        border-radius: 12px ;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        font-size: 16px;
    
    [type="radio"]{
        display: none;
    }
  
     &:has(input:checked) {
        border: 2px solid #000;
    }
  }
  .answers{
    display: flex;
        gap: 20px;
  }
  .send-icon{
    width: 50px;
    height: 40px;
    transform: scaleX(-1);
    cursor: pointer;
  }
  .error{
    &[class*='hide']{
      display: none;
    }
    color: red;
  }